version: "1.0"

application:
  name: laravel-app
  repository:
    url: <your-git-url>      # nanti kita isi saat tahap berikutnya
    branch: main
    autoDeploy: true

services:
  php:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    runtime:
      volumes:
        - ./src:/var/www
      depends_on:
        - mysql
    ports: []

  nginx:
    image: nginx:stable
    runtime:
      volumes:
        - ./src:/var/www
        - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      ports:
        - 80:80
      depends_on:
        - php

  mysql:
    image: mysql:8
    runtime:
      environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: laravel
        MYSQL_USER: laravel
        MYSQL_PASSWORD: laravel
      volumes:
        - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
