version: "3.9"

services:
  php:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    volumes:
      - app-src:/var/www
    depends_on:
      - mysql

  nginx:
    image: nginx:stable
    volumes:
      - app-src:/var/www
      - nginx-conf:/etc/nginx/conf.d
    ports:
      - "80:80"
    depends_on:
      - php

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  app-src:
  nginx-conf:
  mysql-data:
