version: '3.9'

services:
  app:
    build:
      context: ./docker/app
    container_name: laravel_app
    volumes:
      - ./src:/var/www/html
    networks:
      - laravel

  nginx:
    build:
      context: ./docker/nginx
    container_name: laravel_nginx
    ports:
      - "8000:80"
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mysql:8
    container_name: laravel_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel

networks:
  laravel:

volumes:
  db_data:
